# dag
dag.svg

# pyproject
pyproject.toml

# zed
.zed/

# Test directory
tests/

# Snakemake dir
.snakemake/

# genomes dir
input/genomes/*.fasta
input/vcf_reconstruct/1/*

# results dir
results/

# logs dir
cluster_logs/
logs/

# benchmarks dir
benchmarks/
