# dag
dag.svg

# pyproject
pyproject.toml

# zed
.zed/

# Snakemake dir
.snakemake/

# genomes dir
gonomes/
genomes/ailurus_fulgens.fasta
genomes/erignathus_barbatus.fasta
genomes/felis_catus.fasta
genomes/neomonachus_schauinslandi.fasta
genomes/ursus_arctos.fasta

# results dir
results/

# logs dir
cluster_logs/
logs/

# benchmarks dir
benchmarks/
