# ---- Conda ----
"conda":
    "buscoclade_main":
        "yaml": "workflow/envs/main.yaml"
        "name": "buscoclade_main"
    "buscoclade_ete3":
        "yaml": "workflow/envs/ete3.yaml"
        "name": "buscoclade_ete3"
    "buscoclade_gatk":
        "yaml": "workflow/envs/gatk.yaml"
        "name": "buscoclade_gatk"

"use_existing_envs": False # if True, pipeline will use pre-installed envs

# +------------------------+
# | Pipeline configuration |
# +------------------------+
# ---- Assembly statistics ----
quastcore: True

# ---- Alignment ----
alignment: "prank" # 'prank' or 'mafft'

# ---- Filtration ----
filtration: "gblocks" # 'gblocks' or 'trimal'

# ---- Рhylogenetic tree inference ----
iqtree: True
astral: True
rapidnj: True
phylip: True
raxml: True
mrbayes: False

# ---- Рhylogenetic tree visualization ----
draw_phylotrees: True

# +-----------------+
# | Tool parameters |
# +-----------------+
# ---- VCF based ----
vcf2phylip: False # .vcf to concat_alignment reconstruction
gatk_path: "$TOOLS/gatk-4.6.2.0/" # gatk directory

# ---- Assembly statistics ----
quastcore_params: "-m 0 150 500 1000" # Cutoffs by minimum scaffold length

# ---- BUSCO ----
busco_dataset_path: "$TOOLS/busco_datasets/mammalia_odb12/" # Path to orthodb directory
busco_options: "--offline"
busco_mode: "genome"
busco_blacklist: "input/BUSCO.blacklist"
busco_histogram_colors: "#23b4e8,#008dbf,#fbbc04,#ea4335" # per S, D, F, M BUSCOs

# ---- Alignment ----
prank_params: "-codon"
mafft_params: "--reorder --auto"

# ---- Filtration ----
gblocks_params: "-t=Codons"
trimal_params: "-automated1"

# ---- Concatenation of alignments ----
alignment_file_prefix: "concat_alignment"

# ---- Рhylogenetic tree inference ----
# IQtree:
iqtree_params: "-keep-ident -m TESTNEW -bb 1000" # -o homo_sapiens

# Astral:
iqtree_per_fna_params: "-keep-ident -m TESTNEW -bb 1000"
nodes_filtrataion_by_support: 70
astral_params: "--branch-annotate 2 --reps 1000"

# MrBayes:
mrbayes_params: ""
mrbayes_block: "resources/mrbayes.block"
mrbayes_path: "$TOOLS/mrbayes/mrbayes" # Path of MrBayes binary file

# RapidNJ:
rapidnj_params: "-b 1000"

# PHYLIP:
phylip_dnadist_params: "D\n" # Use 'D\n' to set model to 'Kimura 2-parameter'. F84 model (default) if "".
phylip_neighbor_params: "" # Use 'N\n' to set UPGMA. NJ (default) if "".

# RAXML:
raxml_params: "--model GTR+G --bs-trees 100"

# ---- Рhylogenetic tree visualization ----
tree_visualization_params: "" # Specify vizualisation outgroup as it should be named "--outgroup Homo sapiens" or "--outgroup species 1,species 2"

# +---------------------+
# | Directory structure |
# +---------------------+
# ---- Input ----
genome_dir: "input/genomes/"
vcf_reconstruct_dir: "input/vcf_reconstruct/"

# ---- Output ----
output_dir: "results/"
altref_dir: "altref_genomes/"
quastcore_dir: "assembly_stats/"
busco_dir: "busco/"
main_ids_dir: "ids/"
species_ids_dir: "ids/species_ids/"
common_ids_dir: "ids/common_ids/"
merged_sequences_dir: "ids/merged_sequences/"
alignments_dir: "alignments/raw/"
filtered_alignments_dir: "alignments/filtered/"
concat_alignments_dir: "concat_alignments/"
iqtree_dir: "phylogeny/iqtree/"
mrbayes_dir: "phylogeny/mrbayes/"
astral_dir: "phylogeny/astral/"
rapidnj_dir: "phylogeny/rapidnj/"
phylip_dir: "phylogeny/phylip/"
raxml_dir: "phylogeny/raxml"

log_dir: "logs/"
cluster_log_dir: "cluster_logs/"
benchmark_dir: "benchmarks/"

# +-----------+
# | Resources |
# +-----------+

# ---- Slurm partition ----
processing_queue: "main"
vcf_separation_queue: "main"
busco_queue: "main"
alignment_queue: "main"
filtration_queue: "main"
iqtree_queue: "main"
mrbayes_queue: "main"
astral_queue: "main"
rapidnj_queue: "main"
phylip_queue: "main"
raxml_queue: "main"

# ---- Tool threads ----
processing_threads: 1
vcf_separation_threads: 4
busco_threads: 8
mafft_threads: 1
prank_threads: 1
gblocks_threads: 1
trimal_threads: 1
iqtree_threads: 8
mrbayes_threads: 8
iqtree_per_fna_threads: 1
astral_threads: 4
rapidnj_threads: 4
phylip_threads: 1
raxml_threads: 4

# ---- Tool memory ----
processing_mem_mb: 2000
vcf_separation_mem_mb: 10000
busco_mem_mb: 10000
mafft_mem_mb: 2000
prank_mem_mb: 2000
gblocks_mem_mb: 2000
trimal_mem_mb: 2000
iqtree_mem_mb: 10000
mrbayes_mem_mb: 10000
iqtree_per_fna_mem_mb: 2000
astral_mem_mb: 10000
rapidnj_mem_mb: 8000
phylip_mem_mb: 4000
raxml_mem_mb: 10000

# ---- Tool time ----
processing_time: "5:00:00"
vcf_separation_time: "10:00:00"
busco_time: "150:00:00"
mafft_time: "10:00:00"
prank_time: "100:00:00"
gblocks_time: "10:00:00"
trimal_time: "10:00:00"
iqtree_time: "100:00:00"
mrbayes_time: "100:00:00"
iqtree_per_fna_time: "100:00:00"
astral_time: "50:00:00"
rapidnj_time: "150:00:00"
phylip_time: "50:00:00"
raxml_time: "100:00:00"
